.centerpanel {
	width: 500px;
	position: absolute;
	left: 37%;
	top: 20%;
}
.centerpanel2 {
	width: 500px;
	position: absolute;
	left: 40%;
	top: 25%;
}


.centertexto {
	text-align: center;
}

.floatleft {
	float: left;
}

.inline{
	display: inline;	
}

.navbar .brand {
	padding: 0px 15px 0px 0px;
	font-family: 'Telex', sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.actions{
	text-align:center;
}

#bar {
    /* Full Width */
	height: 5px;
    margin: 5px auto;
    background: #000;
}

.expand {
    width: 67em;
    height: 1px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.7);
   
}

.containerbar {
	margin-left: 30%;
	margin-right: auto;
	*zoom: 1
}
