.centerpanel {
	width: 500px;
	position: absolute;
	left: 37%;
	top: 20%;
}
.centerpanel2 {
	width: 500px;
	position: absolute;
	left: 40%;
	top: 25%;
}


.centertexto {
	text-align: center;
}

.floatleft {
	float: left;
}

.inline{
	display: inline;	
}

.navbar .brand {
	padding: 0px 15px 0px 0px;
	font-family: 'Telex', sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.actions{
	text-align:center;
}