@(peliculas: List[Pelicula], salas: List[Sala])

@import helper._
@import helper.twitterBootstrap._

<html>

	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<title>Panel de Administracion - Principal</title>
	</head>
	
	<body>
	
		<div class="container">
			
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="/"><img src="@routes.Assets.at("images/logo.png")"> Inicio</a>
				 	<ul class="nav">
						<li class="divider-vertical"><a href="/admin/adminPeliculas">Peliculas</a></li>
						<li class="divider-vertical"><a href="/admin/adminSesiones">Sesiones</a></li>
					 	<li class="divider-vertical"><a href="/admin/adminTipoSesion">Tipos de Sesion</a></li>
				 	</ul>
			 	</div>
		 	</div>
		
			<h1>Panel de Administración</h1>
			<h2>Crear sesiones en salas</h2>
			<h3>
				Salas:
				<button type="button" class="btn btn-primary" onclick="location.href='#'">Añadir</button>
			</h3>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Numero de sala</th>
					<th>Número de butacas</th>
					<th>Fecha</th>
					<th></th>
				</tr>
				@for(sala <- salas) {
			
					<tr>
						<td>@sala.getId()</td>
						<td>@sala.getNumero()</td>
						<td>@sala.getNumButacas()</td>
						@form(routes.Administracion.getSesionesDeSala(sala.getId())) {
							<td><input type="date" name="fechaSala" id="fechaSala" error="Fecha no válida"></td>
			            	<td><input class="btn btn-success" type="submit" value="Ver sesiones"></td>
			            }
			            </td>
					</tr>
				}
			</table>
			
			<h2>Asignar/Eliminar sesiones de películas</h2>	
			<h3>
				Peliculas:
				<button type="button" class="btn btn-primary" onclick="location.href='#'">Añadir</button>
			</h3>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Duración</th>
					<th>Año</th>
					<th>Género</th>
					<th>Fecha</th>
					<th></th>
				</tr>
				@for(peli <- peliculas) {
			
					<tr>
						<td>@peli.getId()</td>
						<td>@peli.getTitulo()</td>
						<td>@peli.getDuracion() min.</td>
						<td>@peli.getAnio()</td>
						<td>@peli.getGenero()</td>
						@form(routes.Administracion.getSesionesDePelicula(peli.getId())) {
						    <td><input type="date" name="fechaPeli" id="fechaPeli" error="Fecha no válida"></td>
			            	<td><input class="btn btn-success" type="submit" value="Ver sesiones"></td>
			            }
			            </td>
					</tr>
				}
			</table>
		</div>
	</body>
</html>