@(sala: Sala, fecha: Date, sesiones: List[Sesion], tipos: List[TipoSesion], sesionForm: Form[controllers.customForms.SesionForm])

@import helper._
@import helper.twitterBootstrap._

<html>

	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<title>Panel de Administracion - Principal</title>
	</head>
	
	<body>
	
		<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<a class="brand" href="#">
					<img src="@routes.Assets.at("images/logo.png")"> 
					</a>
					<ul class="nav">
					<li class="divider-vertical"><a href="/">Inicio</a></li>
					<li class="divider-vertical active"><a href="/admin">Panel de Administrador</a></li>
					<li class="divider-vertical"><a href="/taquilla">Panel de Empleado</a></li>
					</ul>
		
				 	<ul class="nav pull-right">
		          		<li><a href="/admin/logout">Logout</a></li>
		    		</ul>
				</div>
		</div>
	
		<div class="container">			
		
			<h1>Panel de Administración</h1>
			<h2>Administrar sesiones de sala</h2>
			<h4>Sala: @sala.getNumero() - Número de butacas: @sala.getNumButacas() - Fecha: @fecha.toString()</h4>
			<div class="row">
				<div class="span7">
					<h3>Sesiones:</h3>
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Pelicula</th>
							<th>Hora</th>
							<th>Tipo</th>
							<th>Precio</th>
							<th></th>
							<th></th>
						</tr>
						@for(sesion <- sesiones) {
					
							<tr>
								<td>@sesion.getId()</td>
								@if(sesion.getPelicula() == null) {
									<td class="text-success">LIBRE</td>
								} else {
									<td>@sesion.getPelicula().getTitulo()</td>
								}
								<td>@sesion.getHora()</td>
								<td>@sesion.getTipo().getNombre()</td>
								<td>@sesion.getTipo().getPrecio() €</td>
								@form(routes.Administracion.editarSesion(sesion.getId())) {
					            	<td><input class="btn btn-warning btn-small" type="submit" value="Editar"></td>
					            }
								@form(routes.Administracion.borrarSesion(sesion.getId())) {
					            	<td><input class="btn btn-danger btn-small" type="submit" value="Borrar"></td>
					            }
							</tr>
						}
					</table>
					<p>* AVISO: las sesiones deben de tener una separación mínima de 30 minutos.
				</div>
			
				<div class="span4 offset1">
					<h3>Añadir sesión:</h3>
					@form(routes.Administracion.nuevaSesion(sala.getId(), fecha.toString())) {			   
				        			
				        @select(
							field = sesionForm("tipoSesionId"),
							tipos.map{ t =>
								t.getId().toString() -> t.getNombre()
		                   	},
		                   	'_label -> "Tipo de sesión")
				                	
				        @input(sesionForm("hora"), args = '_label -> "Hora") { (id, name, value, args) =>
			            	<input type="time" name="@name" id="@id" @toHtmlArgs(args)>
			            }
				        			
				        @defining(sesionForm("sesionId")) { uidField =>
						    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
						} 
				        
				        <div clas="actions">
				        	<input class="btn btn-success" type="submit" value="Guardar">
				        </div>
				    }
				</div>
			</div>	
		</div>	
	</body>
</html>
