@(peliculas: List[models.Pelicula], peliculaForm: Form[models.Pelicula])

@import helper._
@import helper.twitterBootstrap._

<html>

	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<title>Panel de Administracion - Principal</title>
	</head>
	
	<body>
	
	<div class="container">
	
	 <div class="navbar">
		 <div class="navbar-inner">
		 <a class="brand" href="/"><img src="@routes.Assets.at("images/logo.png")"> Inicio</a>
			 <ul class="nav">
				 <li class="divider-vertical"><a href="/admin/adminPeliculas">Peliculas</a></li>
				 <li class="divider-vertical"><a href="/admin/adminSesiones">Sesiones</a></li>
				 <li class="divider-vertical"><a href="/admin/adminTipoSesion">Tipos de Sesion</a></li>
			 </ul>
		 </div>
	 </div>
	

			<h1>Panel de Administración</h1>
			<div class="row">
			
				<div>
					<h2>Crear una película</h2>

						@form(routes.Administracion.nuevaPelicula()) {
						
					        @inputText(	peliculaForm("titulo"),
					        			'_label -> "Titulo") 
					                	
					        @inputText( peliculaForm("anio"),
					        			'_label -> "Año")
					                	
					        @inputText( peliculaForm("genero"),
					        			'_label -> "Género")
					        
					        @textarea( peliculaForm("sinopsis"),
					        			'_label -> "Sinopsis")
					        		
					        @inputText( peliculaForm("imagenCartelera"),
					        			'_label -> "Imagen de la cartelera")
							
							@defining(peliculaForm("id")) { uidField =>
							  <input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
							}
							
							<div class="actions">
					        	<input class="btn btn-success" type="submit" value="Crear">
					        </div>
				    	}

				    
				    <table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Título</th>
						<th>Año</th>
						<th>Género</th>
						<th></th>
						<th></th>
					</tr>
					@for(pelicula <- peliculas) {
				
						<tr>
							<td>@pelicula.getId()</td>
							<td>@pelicula.getTitulo()</td>
							<td>@pelicula.getAnio()</td>
							<td>@pelicula.getGenero()</td>
							@form(routes.Administracion.editarPelicula(pelicula.getId())) {
				            	<td><input class="btn btn-warning btn-mini" type="submit" value="Editar"></td>
				            }
							@form(routes.Administracion.borrarPelicula(pelicula.getId())) {
				            	<td><input class="btn btn-danger btn-mini" type="submit" value="Borrar"></td>
				            }
						</tr>
					}
					</table>
		    		
		   		</div>
		    </div>
	    </div>
	</body>
</html>