@(peliculas: List[models.Pelicula], peliculaForm: Form[models.Pelicula])

@import helper._
@import helper.twitterBootstrap._

<html>

	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<title>Panel de Administracion - Principal</title>
	</head>
	
	<body>
		<div class="container">
			<h1>Estadísticas invisibles</h1>
	    </div>
	</body>
</html>