@(tiposDeSesion: List[models.TipoSesion], tipoSesionForm: Form[models.TipoSesion])


@import helper._
@import helper.twitterBootstrap._

<html>

	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<title>Panel de Administracion - Principal</title>
	</head>
	
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#"><img src="@routes.Assets.at("images/favicon.png")"> Inicio</a>
					<ul class="nav">
						<li class="divider-vertical"><a href="/admin/adminPeliculas">Peliculas</a></li>
						<li class="divider-vertical"><a href="/admin/adminSesiones">Sesiones</a></li>
						<li class="divider-vertical"><a href="/admin/adminTipoSesion">Tipos de Sesion</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				
				<div class="span6">
					<h2>Tipos de Sesion</h2>	
				
					<table class="table table-hover">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th></th>
						<th></th>
					</tr>
					@for(tipoSesion <- tiposDeSesion) {
				
						<tr>
							<td>@tipoSesion.getId()</td>
							<td>@tipoSesion.getNombre()</td>
							<td>@tipoSesion.getPrecio()</td>
							<td>
							@form(routes.Administracion.editarTipoSesion(tipoSesion.getId())) {
				            	<input class="btn btn-warning btn-mini" type="submit" value="Editar">
				            }
				            </td>
							<td>
							@form(routes.Administracion.borrarTipoSesion(tipoSesion.getId())) {
				            	<input class="btn btn-danger btn-mini" type="submit" value="Borrar">
				            }
				            </td>
						</tr>
					}
					</table>
				</div>
				
				<div class="span6">
					<h2>Crear un Tipo de sesion</h2>
					@form(routes.Administracion.nuevoTipoSesion()) {
				        
				        @inputText(	tipoSesionForm("nombre"),
				        			'_label -> "Nombre") 
				                	
				        @inputText( tipoSesionForm("precio"),
				        			'_label -> "precio")
				        			
				        @helper.input(tipoSesionForm("id")) { (id, name, value, args) =>
						    <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
						} 
				        
				        <div clas="actions">
				        	<input class="btn btn-success" type="submit" value="Crear">
				        </div>
				    }
			    </div>
			</div>
		</div>
	</body>
</html>