@(peliculas: List[Pelicula], formCliente: Form[Cliente])

@import helper._

<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
 <title>Entrecine - Inicio</title>
 </head>
 <body>
 <div class="container">
 <div class="navbar">
 <div class="navbar-inner">
 <a class="brand" href="#">Inicio</a>
 <ul class="nav">
 <li class="divider-vertical"><a href="/admin">Panel de Administrador</a></li>
 <li class="divider-vertical"><a href="/taquilla">Panel de Empleado</a></li>
 </ul>
 </div>
 
 </div>
    <h1>¡Bienvenido a Entrecine!</h1>

    @form(action = routes.Usuarios.login()) {
        <fieldset>
            <legend>Login</legend>
            @inputText(
                formCliente("login"),
                '_label -> "Login",
                '_error -> formCliente.globalError)
            @inputPassword(
                formCliente("password"), 
                '_label -> "Password")
        </fieldset>
        
        <div class="actions">
        <input type="submit" class="btn primary" value="Login">
        </div>
    }


    <h2>Películas en cartelera</h2>
	<table border=1>
		<tr>
			<th>Título</th>
			<th>Año</th>
			<th>Género</th>
		</tr>
		@for(pelicula <- peliculas) {
	
			<tr>
				<td><a href="/peliculas/@pelicula.getId()">@pelicula.getTitulo()</a></td>
				<td>@pelicula.getAnio()</td>
				<td>@pelicula.getGenero()</td>
			</tr>
		}
		</table>

</div>
</body>
</html>

