@(peliculas: List[Pelicula], sugerencias: List[Pelicula], formCliente: Form[Cliente])

@import helper._

<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
 <script>

$('.dropdown-toggle').dropdown();


</script>
 <title>Entrecine - Inicio</title>
 </head>
 <body>
 <div class="container">
 <div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
 <a class="brand" href="#">
 <img src="@routes.Assets.at("images/logo.png")"> 
 </a>
 <ul class="nav">
 <li class="divider-vertical active"><a href="/">Inicio</a></li>
 <li class="divider-vertical"><a href="/admin">Panel de Administrador</a></li>
 <li class="divider-vertical"><a href="/taquilla">Panel de Empleado</a></li>
</ul>
<ul class="nav pull-right">
 @if(session.get("cliente") == null) {
 <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Login
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
          <li>	    @form(action = routes.Clientes.login()) {
	        <fieldset>
	            @inputText(
	                formCliente("login"),
	                '_label -> "Login",
	                '_error -> formCliente.globalError)
	            @inputPassword(
	                formCliente("password"), 
	                '_label -> "Password")
	        </fieldset>
	        
	        <div class="actions">
	        <input type="submit" class="btn primary" value="Login">
	        </div>
	    }
	    </li>

    </ul>
  </li>
  } else{
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        @session.get("cliente")
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
          <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
  }
</ul>
 </div> 
</div>
	@if(session().get("cliente") == null) {
    	<h1>¡Bienvenido a Entrecine!</h1>
	} else {
		<h1>¡Bienvenido @session().get("cliente")!</h1>
		<h2>Sugerencias</h2>
		
		<ul class="thumbnails">
		@for(pelicula <- sugerencias) {
		
		
			<li class="span3">  
			<h3 class="centertexto">@pelicula.getTitulo()</h3>
          		<a href="/peliculas/@pelicula.getId()" class="thumbnail">  
					<img width="150" height="210" src="@pelicula.getImagenCartelera()" width="100" height="140"/>
				</a>				
        	</li>		
		}
		</ul>
	}

    <h2>Películas en cartelera</h2>
    <table class="table table-striped">
		<tr>
			<th>Imágen</th>
			<th>Título</th>
			<th>Año</th>
			<th>Género</th>
						<th>Duracion</th>
			
		</tr>
		@for(pelicula <- peliculas) {
	
			<tr>
				<td width="100" height="140"><a href="/peliculas/@pelicula.getId()"><img src="@pelicula.getImagenCartelera()" width="100" height="140"/></a></td>
				<td>
					<p><a href="/peliculas/@pelicula.getId()">@pelicula.getTitulo()</a></p>
					<p>@pelicula.getSinopsis()</p>
				</td>
				<td>@pelicula.getAnio()</td>
				<td>@pelicula.getGenero()</td>
				<td>@pelicula.getDuracion()</td>
				
			</tr>
		}
		</table>

</div>
</body>
</html>

