@(peliculas: List[Pelicula], formCliente: Form[Cliente])

@import helper._

@main("¡Bienvenido a Entrecine!") {
    <h1>¡Bienvenido a Entrecine!</h1>

    @form(action = routes.Usuarios.login()) {
        <fieldset>
            <legend>Login</legend>
            @inputText(
                formCliente("login"),
                '_label -> "Login",
                '_help -> "Introduce tu nombre de usuario")
            @inputPassword(
                formCliente("password"), 
                '_label -> "Password",
                '_help -> "Introduce tu password.")
        </fieldset>
        <input type="submit" value="login"/>
    }


    <h2>Películas en cartelera</h2>
	<table border=1>
		<tr>
			<th>Título</th>
			<th>Año</th>
			<th>Género</th>
		</tr>
		@for(pelicula <- peliculas) {
	
			<tr>
				<td><a href="/peliculas/@pelicula.getId()">@pelicula.getTitulo()</a></td>
				<td>@pelicula.getAnio()</td>
				<td>@pelicula.getGenero()</td>
			</tr>
		}
		</table>


}
