<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<meta http-equiv="refresh" content="3; URL=/taquilla">
<title>Pasarela de pago virtual</title>
<body>
	<div class="container">
		<div class="row">
			<div class="span3">
			<img alt="Tick" src="@routes.Assets.at("images/tick.png")" height="200" width="120"">
			</div>
			<div class="span3">
			<h1>Reserva Realizada</h1>
			<p>A continuaci—n podr‡ hacer otra reserva</p>
			</div>
			
		</div>
</body>

</html>

