@(sesion: Sesion) 
@import helper._ 
@import helper.twitterBootstrap._

<html>

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<title>Panel de Empleado - Principal</title>
</head>

<body>

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#"><img src="@routes.Assets.at("images/favicon.png")">
				Inicio</a>
			<ul class="nav">
				<li class="divider-vertical"><a href="/taquilla">Reservas</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<h1>Panel de Empleado</h1>
		<h1>Selecciona la butaca</h1>

		<h1>Sesión @sesion.getId()</h1>

		<h2>@sesion.getPelicula().getTitulo()</h2>

		<h2>Información de la sala</h2>
		<ul>
			<li>Número de sala: @sesion.getSala().getId()</li>
			<li>Capacidad: @sesion.getSala().getNumButacas() butacas</li>
		</ul>

		<h2>Butacas libres</h2>
		@for(butaca <- sesion.getButacasLibres) {
		<div class="floatleft">
			@butaca @form(routes.Taquilla.reservarButacaTaquilla()) { <input
				type="hidden" name="butaca" value="@butaca"> <input
				type="hidden" name="id_sesion" value="@sesion.getId()">
			<div class="actions">
				<input type="submit" class="btn primary" value="Reservar">
			</div>
			}
		</div>
		}
	</div>





</body>

</html>


