@(pelicula: Pelicula)
 @import helper._ 
 @import helper.twitterBootstrap._

<html>

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<title>Panel de Empleado - Principal</title>
</head>

<body>
	<div class="container">

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/"><img src="@routes.Assets.at("images/favicon.png")">
				Inicio</a>
			<ul class="nav">
				<li class="divider-vertical"><a href="/taquilla">Reservas</a></li>
			</ul>
				<ul class="nav pull-right">
          <li><a href="taquilla/logout">Logout</a></li>
    </ul>
		</div>
	</div>
		<h1>Panel de Empleado</h1>
		<h1>Selecciona una Sesion</h1>
		<h2>Sesiones</h2>
		<table class="table">
			<tr>
				<th>Hora de inicio</th>
				<th>Dia</th>
				<th>Sala</th>
				<th>Tipo de sesión</th>
			</tr>
			@if(pelicula.numeroSesionesFuturas() == 0) {
			<td>
			<p>No Hay ninguna sesión programada.</p>
			</td>	
			</tr>
			}
			@if(pelicula.numeroSesionesFuturas() != 0) {
			@for(sesion <- pelicula.getSesionesFuturas()) {
				<tr>
					<td>@sesion.getHora()</td>
					<td>@sesion.getFecha()</td>
					<td>@sesion.getSala().getNumero()</td>
					<td>@sesion.getTipo().getNombre() - @sesion.getTipo().getPrecio()€</td>
						<td>
							@form(routes.Taquilla.verSesionTaquilla(sesion.getId())) {
								<input class="btn btn-success" type="submit" value="Ver sesion">
							}
						</td>
					
				</tr>
				}
			}
		</table>
		
		</div>
		
		



</body>

</html>


