@(pelicula: Pelicula)
 @import helper._ 
 @import helper.twitterBootstrap._

<html>

<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<title>Panel de Empleado - Principal</title>
</head>

<body>

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#"><img src="@routes.Assets.at("images/favicon.png")">
				Inicio</a>
			<ul class="nav">
				<li class="divider-vertical"><a href="/taquilla">Reservas</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<h1>Panel de Empleado</h1>
		<h1>Realiza una nueva reserva</h1>
		</div>



	</h2>
	Login
	</h2>
</body>

</html>


