@(pelicula: Pelicula, cliente: Cliente)

@import helper._

@main("Vista de peliculas") {

	<h1>@pelicula.getTitulo()</h1>
	
	<img src="@pelicula.getImagenCartelera()" width="200" height="280" />
	
	<h2>Año</h2>
		<p>@pelicula.getAnio()</h2>
	
	<h2>Genero</h2>
		<p>@pelicula.getGenero()</h2>
		
	<h2>Sinopsis</h2>
		<p>@pelicula.getSinopsis()</h2>
		
	@if(cliente != null) {
		<h2>Sesiones</h2>
		<table class="table">
		<tr>
			<th>Hora de inicio</th>
			<th>Dia</th>
			<th>Sala</th>
			<th>Tipo de sesión</th>
			<th/>
		</tr>
		@for(sesion <- pelicula.getSesiones()) {
			<tr>
				<td>@sesion.getInicio()</td>
				<td>@sesion.getDia()</td>
				<td>@sesion.getSala().getNumero()</td>
				<td>@sesion.getTipo().getNombre() - @sesion.getTipo().getPrecio()€</td>
				<td>
					@form(routes.Clientes.verSesion(sesion.getId())) {
						<input class="btn btn-success" type="submit" value="Ver sesión">
					}
				</td>
			</tr>
		}
		</table>
	}
	
}